.dm-offers {
  h1 {
    position: relative;

    &::after {
      position: absolute;
        bottom: 120px;
        left: 50%;
      content: ' ';
      margin-left: -35px;
      width: 70px;
      height: 4px;
      background: #e6e6e6;
    }
  }
}

.dm-offer {
  list-style: none;
  margin-bottom: 0;
}

.dm-offer-diagno,
.dm-offer-strat,
.dm-offer-transfo,
.dm-offer-mentor {
  background: transparent no-repeat 50% 0;
  padding-top: 140px;
  cursor: pointer;
}
.dm-offer-diagno:hover,
.dm-offer-strat:hover,
.dm-offer-transfo:hover,
.dm-offer-mentor:hover,
.dm-offer-diagno:active,
.dm-offer-strat:active,
.dm-offer-transfo:active,
.dm-offer-mentor:active,
.dm-offer-diagno:focus,
.dm-offer-strat:focus,
.dm-offer-transfo:focus,
.dm-offer-mentor:focus {
  /* We'll need that I'm sure */
}

.dm-offer-diagno {
  background-image: url(/build/img/brain1.png);
}
.dm-offer-strat {
  background-image: url(/build/img/brain2.png);
}
.dm-offer-transfo {
  background-image: url(/build/img/brain3.png);
}
.dm-offer-mentor {
  background-image: url(/build/img/brain4.png);
}

.dm-offer__title {
  font-family: 'sansation bold', serif;
  font-size: 16px;
  display: block;
  text-align: center;
}

.dm-offer__index {
  color: #e6e6e6;
  font-family: 'sansation light', serif;
  font-size: 48px;
  display: block;
  text-align: center;
}

.dm-offer__subtitle {
  font-family: 'opensans', serif;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
}


.dm-offer-detail {
  position: relative;
  padding: 80px 0;
  background: $primary-color url(/build/img/offre-lines-bg.png) no-repeat 100% 50%;
  min-height: 300px;

  .container {
    display: none;
  }
  .container.in {
    display: block;
  }
}

.js-offer-btn {
  padding-bottom: 40px;
}
.js-offer-btn.in {
  &::after {
    position: absolute;
      bottom: 0;
      left: 50%;
    // Calculate the postion based on the center of the div
    margin-left: -60px;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 25px solid $primary-color;
  }
}

.offer-aside {
  color: #fff;
  font-family: 'opensans', sans-serif;
  list-style: none;
  padding-left: 80px;
  font-size: 16px;
  line-height: 30px;
}
.offer-aside__title {
  font-family: 'opensans bold', sans-serif;
}

.offer-deliverable {
  margin-top: 40px;
  font-family: 'opensans italic', sans-serif;
}
