.dm-offer {
  list-style: none;
  margin-bottom: 40px;
}

.dm-offer-diagno,
.dm-offer-strat,
.dm-offer-transfo,
.dm-offer-mentor {
  background: transparent no-repeat 50% 0;
  padding-top: 140px;
}

.dm-offer-diagno {
  background-image: url(/build/img/brain1.png);
}
.dm-offer-strat {
  background-image: url(/build/img/brain2.png);
}
.dm-offer-transfo {
  background-image: url(/build/img/brain3.png);
}
.dm-offer-mentor {
  background-image: url(/build/img/brain4.png);
}

.dm-offer__title {
  font-family: 'sansation bold', serif;
  font-size: 16px;
  display: block;
  text-align: center;
}

.dm-offer__index {
  color: #e6e6e6;
  font-family: 'sansation light', serif;
  font-size: 48px;
  display: block;
  text-align: center;
}

.dm-offer__subtitle {
  font-family: 'opensans', serif;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
}


.dm-offer-detail {
  padding: 80px 0;
  background: $primary-color url(/build/img/offre-lines-bg.png) no-repeat 100% 50%;
  min-height: 300px;
}

.offer-aside {
  color: #fff;
  font-family: 'opensans', sans-serif;
  list-style: none;
  padding-left: 80px;
  font-size: 16px;
  line-height: 30px;
}
.offer-aside__title {
  font-family: 'opensans bold', sans-serif;
}

.offer-deliverable {
  margin-top: 40px;
  font-family: 'opensans italic', sans-serif;
}
