.dm-landing {
  background: $primary-color url(/build/img/header-lines-bg.png);
  padding: 100px 0 140px;
}

.dm-brain {
  text-align: right;

  img {
    max-width: 100%;
  }
}

.dm-tagline {
  min-height: 170px;
  background: transparent url(/build/img/baseline.png) no-repeat 0 50%;
  background-size: 100%;
}

@media (min-width: $screen-md-min) {
  .dm-landing {
    padding: 180px 0 140px;
  }
}

@media (min-width: $screen-md-min) {
  .dm-tagline {
    min-height: 326px;
  }
}

@media (min-width: $screen-sm-min) {
  .dm-tagline {
    min-height: 230px;
  }
}
