body {
  font-family: 'opensans', sans-serif;
}

h1 {
  padding: 140px 0;
  text-align: center;
  color: #000;
  font-family: 'sansation light', sans-serif;
}

h3 {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  font-family: 'sansation bold', sans-serif;
  padding-bottom: 40px;
  position: relative;

  &::after {
    position: absolute;
      bottom: 30px;
      left: 0;
    content: ' ';
    width: 6px;
    height: 2px;
    background: #000;
  }
}

h4 {
  position: relative;
  font-size: 14px;
  padding: 40px 0 50px;
  text-align: center;
  // color: #000;
  font-family: 'sansation bold', sans-serif;
  text-transform: uppercase;

  &::after {
    position: absolute;
      bottom: 40px;
      left: 50%;
    content: ' ';
    margin-left: -3px;
    width: 6px;
    height: 2px;
    background: darken(#e6e6e6, 10%);
  }
}
