.dm-about {
  padding: 140px 0;
}

.dm-about__face {
  width: 120px;
  height: 95px;
  padding: 0;
  background: transparent url(/build/img/team/fabrice-tranier.png) no-repeat 0 0;
}

.dm-about__body {
  padding-top: 100px;
}
